/* BASIC */
html{
 background: rgb(6,16,25);
}

body{
    /*
    background: rgb(22,49,59);
    background: linear-gradient(180deg, rgb(22,49,59) 0%, rgb(6,16,25) 100%);
    background-repeat: no-repeat;
     */
    background: none;
    font-family: 'Montserrat', sans-serif; !important;
    font-size: 14px;
    color: rgb(222,206,149);
    min-height: 480px;
    padding-top: 4.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Abel', sans-serif; !important;
}

/* SCHIGGI MIGGI */
#wallpaper{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:3000px;
    z-index: -1;
    background: url("../img/bg/lol_pyke_tiny.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(10px);
    opacity: 0.3;
}

.alert-success{
    border: none;
    color: rgb(255,255,255);
    background-color: rgba(9, 230, 101, 0.5) ;
}

/* TOPNAV */
.navbar{
    display: none;
    font-size: 14px;
    color: rgb(222,206,149);!important;
    padding: 5px;
    background-color: rgb(5, 8, 10);
}

.profile-nav{
    margin: auto;
}

.navbar-toggler{
    color: rgb(222,206,149); !important;
}

.user-img{
    padding: 0;
    margin-right: 5px;
}

.user-img-profile{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    padding: 0;
}

.top-profile-nav{
    display: inline-block;
    float: right;
    margin-top: 5px;
}

a.nav-link{
    color: rgb(222,206,149);
}

a.nav-link.disabled{
    color: rgba(132,159,169,0.75);
}
a.nav-link.disabled:hover{
    background:none;
}

a.nav-link:hover{
    color: rgb(20, 20, 20); !important;
    background-color: rgb(222,206,149);
}

/* LISTINGS */

.list-group{
    background: none;!important;
}

.list-group-item{
    background-color: rgba(0,0,0,0.25);
    margin-bottom: 3px;
    border: none;
    padding: 10px;
}

.list-group-flush{
    border-top: solid 1px rgba(132,159,169,0.25);
}

.darkerGold{
    color: rgb(222,206,149);
    background-color: rgb(20, 20, 20); !important;
    border: 1px solid rgb(148, 115, 64);
}

.darkerGold:hover{
    background-color: rgb(222,206,149);
    color: rgb(20, 20, 20); !important;
    border: 1px solid rgb(148, 115, 64);
}

.badge-gold{
    font-size: 12px;
    margin: 0 10px;
    color: rgb(20, 20, 20); !important;
    background-color: rgb(222,206,149);
}

.badge-bluegray{
    font-size: 12px;
    margin: 0 5px;
    color: rgb(20, 20, 20);
    background-color: rgb(132,159,169);
}

.darkerGold:hover .badge-gold{
    float: right;
    font-size: 14px;
    background-color: rgb(20, 20, 20); !important;
    color: rgb(222,206,149);
}

/* SIDENAV */
.sidenav{
    z-index: 100;
    display: block;
    position: fixed;
    border: none;
    border-right: 1px solid rgb(20,23,25);
    border-image:
            linear-gradient(
                    to bottom,
                    rgb(222,206,149),
                    rgb(148, 115, 64)
            ) 1 100%;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: rgb(5, 8, 10);
}

.sidenav-col{
    min-width: 220px;!important;
}

.sidenav-logo{
    margin-left: -1px;
    margin-top: -1px;
    max-width: 220px;
    max-height: 50px;
}

.sidenav-profile{
    text-align: center;
    padding: 20px 0 0 0;
    background-color: rgb(20,23,25);
}

.sidenav-profile-name{
    margin: 4px 0;
}

.sidenav-profile-controls{
    margin-top: -5px;
    padding-bottom: 10px;
    background-color: rgb(20,23,25);
}

a.nav-link.sidenav-link{
    color: rgb(222,206,149);!important;
}

a.nav-link.sidenav-link.disabled{
    color: rgba(132,159,169,0.75);
}

a.nav-link.sidenav-link.disabled:hover{
    background: none;
}

a.nav-link.sidenav-link:hover{
    color: rgb(10, 10, 10);
    background-color: rgb(222,206,149);
}

/* CONTENT CARD */
.page-headline{
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}

.content{
    border: none;
    border-top: 1px solid rgba(132,159,169,0.25);
}
.content-footer{
    text-align: center;
    border: none;
    background-color: rgba(5, 8, 10, 0.5);
}

/* BACKGROUNDS */
.bg-darker{
    background-color: rgb(20,23,25);
}

.bg-darker-trans{
    background-color: rgba(20,23,25,0.75);
}

/* BREADCRUMB */
.breadcrumb{
    font-size: 12px;
    padding: 5px;
    background: none;
}

/* FORUM */
.forum-stats{
    min-width: 100px;
}

.forum-category{
    border: none;
    color: rgb(222,206,149);
    background-color: rgba(0,0,0,0.25);
}

.forum-category-date{
    color: rgba(222,206,149,0.65);
}

.forum-category-desc{
    color: rgb(222,206,149);
}

.forum-category:hover{
    color: rgb(20,23,25);
    background-color: rgb(222,206,149);
}

.forum-category:hover{
    color: rgb(20,23,25);
}

.forum-category:hover .forum-category-desc{
    color: rgb(20,23,25);
}

.forum-category:hover .forum-category-date{
    color: rgb(20,23,25);
}

.forumTopicList-Item{
    display: block;
    color: rgb(222,206,149);
    padding: 10px 5px 10px 10px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 3px;
    margin-bottom: 10px;
}

.forumTopicList-Item:hover {
    color: rgb(20,23,25);
    text-decoration: none;
    background-color: rgb(222,206,149);
}

.forumTopicList-Item small{
    color: rgb(222,206,149);
}

.forumTopicList-Item:hover small{
    color: rgb(20,23,25);
}

.forumTopicList-Item span{
    margin-right: 5px;
}
.forum-post{
    background: none;
    border: 1px solid rgba(132,159,169,0.1);
    border-radius: 0;
    margin-bottom:20px;
}

.forum-post-header{
    color: rgb(222,206,149);
    background-color: rgba(132,159,169,0.1);
    vertical-align: top;

}

.forum-post-header-headline{
    display: inline-block;
}

.forum-post-body{
    overflow: hidden;
    background-color: rgba(0,0,0,0.25);
}

.forum-post-body img {
    max-width:100%;
    height:auto;
}

.forum-post-footer{
    text-align: right;
    border: none;
    background-color: rgba(0,0,0,0.25);
}

.user-img-forum{
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

.reply-content{
    color: rgb(132,159,169);
}

.deleteReply{
    float: right;
    font-style: italic;
    padding: 5px;
    color: rgb(222,206,149);
}
.deleteReply:hover{
    color: rgb(255, 255, 255);

}

.topicAdminMenu{
    display: block;
    text-align: right;
    margin: -13px 0 20px 0;
    padding: 8px 10px 5px 0;
    background-color: rgba(132,159,169,0.1);
    border: none
}

.topicMenuItem{
    font-size: 14px;
    margin-left: 10px;
    color: rgb(222,206,149);
}

.topicMenuItem:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.categoryAdminMenu{
    display: block;
    text-align: right;
    margin: -3px 0 20px 0;
    padding: 8px 10px 5px 0;
    background-color: rgba(132,159,169,0.1);
    border: none
}

.categoryMenuItem{
    font-size: 14px;
    margin-left: 10px;
    color: rgb(222,206,149);
}

.categoryMenuItem:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* TEXT */
.text-gold-dark{
    color: rgb(148, 115, 64);!important;
}
.text-gold-med{
    color: rgb(222,206,149);!important;
}

.discriminator{
    color: rgb(132,159,169);
}

/* BUTTONS */
.btn-gold{
    font-size: 12px;
    background-color: rgb(222,206,149);!important;
}

.btn-gold:hover{
    background-color: rgb(132,159,169);
}

.btn-danger{
    font-size: 12px;
}

.red:hover{
    color: rgb(255,255,255);
    background-color: rgb(255, 89, 89);
}

.green:hover{
    background-color: rgb(9, 230, 101);
}

.yellow:hover{
    background-color: rgb(255, 208, 99);
}

.fire:hover{
    color: rgb(255,255,255);
    background: rgb(255,102,0);
}

/* MODALS */
.modal-header{
    color: rgb(20,23,25);
    background-color: rgb(222,206,149);
}

.warning-modal-img-block{
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px rgb(222,206,149);

}

.warning-modal-img-block img{
    max-width: 100%;
}

/* BADGES */
.badge-admin{
    background-color: rgb(255,0,0);
}

.badge-founder{
    background-color: rgb(6, 145, 191);
}

.badge-beardos{
    background-color: rgb(230, 9, 127);
}

.badge-mitglieder{
    background-color: rgb(9, 230, 101);
}

.badge-veteran{
    background-color: rgb(163, 25, 255);
}

/* RESPONSIVE ACTIONS */
@media screen and (min-width: 768px){
    .sidenav {
        display: block;
    }
    .navbar{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .sidenav {
        display: none;
    }
    .navbar{
        display: block;
    }
}

